@charset "utf-8";

/* home styles */

html {
	_overflow-x: hidden;
}
body {
	min-width: 1004px;
	background: url('../images/bg-film.gif') repeat-y 20px 0;
}

#doc {
	width: 916px;
	margin: auto;
}

#hd {
	position: relative;
	height: 268px;
	background: url('../images/bg-hd.gif') no-repeat right 34px;
}
#hd .logo {
	position: absolute;
	left: 85px;
	top: 115px;
	width: 45px;
	height: 25px;
	background: url('../images/logo.gif') no-repeat;
}

#about {
	position: absolute;
	left: 0;
	top: 0;
	width: 659px;
	-webkit-transition: opacity .8s ease-in-out;
	-moz-transition: opacity .8s ease-in-out;
	-o-transition: opacity .8s ease-in-out;
	transition: opacity .8s ease-in-out;
}
#about:hover {
	opacity: 1;
}
#about .pic {
	float: left;
	width: 217px;
	height: 268px;
	background: #000;
}
#about .intro {
	float: left;
	padding: 79px 0 0 21px;
}
#about .sig {
	float: left;
	width: 61px;
	height: 23px;
	background: url('../images/about-sig.gif') no-repeat;
	margin-bottom: 8px;
}
#about p {
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 18px;
}
#about .p1 {
	clear: both;
	margin: 0 -6px 8px 0;
	
	*margin-top: -79px;
}
#about .p2 {
	margin: 0 -6px 14px 0;
}
#about .contact a {
	margin-right: .5em;
}

#bd {
/*	padding-top: 2px;*/
/*	for scroll2Body (scroll2 #bd top) */
/*	margin-top: -2px;*/
/*	for scroll2Body (scroll2 #bd top) */
}

#ft {
	position: relative;
	height: 175px;
	background: url('../images/bg-ft.gif') no-repeat 0 bottom;
	margin-top: 108px;
}
#ft .sig {
	position: absolute;
	right: 0;
	bottom: 8px;
	width: 20px;
	height: 20px;
	background: url('../images/ft-sig.gif') no-repeat;
}
#ft .cpy {
	color: #bcbcbc;
	text-align: center;
	letter-spacing: 1px;
	line-height: 30px;
	position: absolute;
	right: 80px;
	bottom: 75px;
	width: 190px;
	height: 30px;
	background: #fff;
	opacity: 0;
	-webkit-transition: opacity .8s ease-in-out;
	-moz-transition: opacity .8s ease-in-out;
	-o-transition: opacity .8s ease-in-out;
	transition: opacity .8s ease-in-out;
		
	filter: alpha(opacity=0)\9;
}
#ft:hover .cpy {
	opacity: 1;
}

#fn-panel {
	position: fixed;
	right: 0;
	bottom: 0;
	
	_position: absolute;
}
#fn-panel a{
	display: block;
	border-bottom: 0;
}
#fn-panel .btn {
	padding: 6px;
	background: #efefef;
	margin-top: 2px;
	cursor: pointer;
	
	filter: alpha(opacity=50)\9;
}
#fn-panel .btn .icon {
	width: 40px;
	height: 40px;
	background: url('../images/icns-fn-panel.png') no-repeat;
	opacity: .5;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;

/*	behavior: url('/js/libs/common/iepngfix/2.0.0/iepngfix.htc')\9;*/
}
#fn-panel .btn:hover .icon {
	opacity: 1;
}
#fn-panel .btn.rewinder .icon {
	background-position: 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#fn-panel .btn.rewinder.pressed .icon {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
#fn-panel .btn.discman .icon {
	background-position: -40px;
	
	background: url('../images/ie-icn-fn-panel-btn-discman.png') no-repeat\9;
}
#fn-panel .btn.rss .icon {
	background-position: -80px;

	background: url('../images/ie-icn-fn-panel-btn-rss.png') no-repeat\9;
}

#bd .recalling {
	text-align: right;
	letter-spacing: 2px;
	margin: 108px 146px;
}
#bd .recalling .loading-gray{
	padding-right: 14px;
	background-position: right 9px;
}
#bd .recalling .symbols {
	font-size: 18px;
	padding-left: 433px;
}

/* horizontal flip(mainly for adapting some doodles) */

.flip #hd .logo {
	left: auto;
	right: 85px;
}
.flip #about {
	left: auto;
	right: 0;
}
.flip #about .pic,
.flip #about .sig {
	float: right;
}
.flip #about .intro {
	float: right;
	padding-left: 0;
	padding-right: 21px;
}
.flip #about p {
	text-align: right;
}
.flip #about .contact a {
	margin: 0 0 0 .5em;
}
.flip #bd .recalling {
	text-align: left;
}

.roll {
	margin-bottom: 108px;
}

.block {
	position: relative;
/*	for date position */
	margin: 2px 0;
}
.block .date,
#detail .date {
	color: #ddd;
	letter-spacing: 3px;
	position: absolute;
	top: 150px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.tile {
	position: absolute;
	overflow: hidden;
	background-color: #ebebeb;
	cursor: pointer;
}
.tile * {
	cursor: pointer\9;
}
.tile .story {
	cursor: default;
}
.tile a{
	display: block;
}
.tile .title {
	width: 100%;
	background-color: #000;
	background-color: rgba(0,0,0, .7);
	opacity: .6;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	
	display: none\9;
/*	for fadeIn */
	background-color: #000\9;
/*	filter: alpha(opacity=0)\9;*/
	filter: alpha(opacity=70)\9;
}
.tile:hover .title {
	opacity: 1;
}
.tile .title .txt {
	font-family: MingLiu, SimSun;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: left;
	overflow: hidden;
	border-left-style: solid;
	border-left-color: rgba(216,43,43, .6);
	
	font-family: SimSun\9;
	border-left-color: #752023\9;
}
.tile .title-l .txt {
	font-size: 18px;
	line-height: 60px;
	letter-spacing: .25em;
	border-left-width: 17px;
	padding: 0 36px;
}
.tile .title-l {
	*height: 60px;
}
.tile .title-m .txt {
	font-size: 16px;
	line-height: 49px;
	letter-spacing: .2em;
	border-left-width: 12px;
	padding: 0 27px;
}
.tile .title-m {
	*height: 49px;
}
.tile .title-s .txt {
	font-size: 14px;
	line-height: 39px;
	letter-spacing: .2em;
	border-left-width: 10px;
	padding: 0 21px;
}
.tile .title-s {
	*height: 39px;
}
.tile .title-xs .txt {
	font-size: 12px;
	line-height: 26px;
	letter-spacing: .15em;
	border-left-width: 7px;
	padding: 0 13px;
}
.tile .title-xs {
	background-color: rgba(0,0,0, .5);

	*height: 26px;
	filter: alpha(opacity=50)\9;
}

.tile .title .btn-vote {
	color: #fff;
	font-size: 11px;
	float: right;
	height: 1em;
	padding: 0 15px 0 27px;
	background: url('../images/icn-btn-vote-white.png') no-repeat 10px;
	opacity: .5;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
	
	filter: alpha(opacity=50)\9;
	background-image: url('../images/ie-icn-btn-vote-white-on-black.gif')\9;
/*	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/icn-btn-vote-white.png",sizingMethod="crop");*/
}
.tile .title .btn-vote:hover,
.tile .title .btn-vote.hover {
	opacity: 1;

	filter: none\9;
}
.tile .title .btn-voted {
	background-image: url('../images/icn-btn-vote-red.png');
	-webkit-animation: btn-voted-pulse .3s;
	-moz-animation: btn-voted-pulse .3s ease-in-out;
	animation: btn-voted-pulse .3s ease-in-out;
	
	background-image: url('../images/ie-icn-btn-vote-red-on-black.gif')\9;
/*	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/icn-btn-vote-red.png",sizingMethod="crop");*/
}
@-webkit-keyframes btn-voted-pulse {
	0% { -webkit-transform: scale(1); }
	30% { -webkit-transform: scale(1.2); }
	100% { -webkit-transform: scale(1); }
}
@-moz-keyframes btn-voted-pulse {
	0% { -webkit-transform: scale(1); }
	30% { -webkit-transform: scale(1.2); }
	100% { -webkit-transform: scale(1); }
}
@keyframes btn-voted-pulse {
	0% { -webkit-transform: scale(1); }
	30% { -webkit-transform: scale(1.2); }
	100% { -webkit-transform: scale(1); }
}
.tile .title-l .btn-vote {
	padding: 24px 20px 21px 33px;
	background-position: 15px 26px;
}
.tile .title-m .btn-vote {
	padding: 19px 15px 15px 27px;
	background-position: 10px 21px;
}
.tile .title-s .btn-vote {
	padding: 14px 15px 10px 22px;
	background-position: 5px 16px;
}

.tile .title .txt {
	color: #eee;
	letter-spacing: .15em;
}

.tile-words {
	color: #999;
	line-height: 1.6;
	letter-spacing: .15em;
	padding: 11px 15px;
	background: #f5f5f5;
	cursor: default;
}
.tile-words p {
	margin-bottom: 1em;
}
.tile-poster .title {
	opacity: 1;
	
	display: block\9;
}
.tile-image .title,
.tile-video .title,
.tile-map .title,
.tile-misc .title {
	position: absolute;
	z-index: 10;
	bottom: 0;
}

.tile-video .btn-play {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 45px;
	height: 45px;
	background: url('../images/btn-play.png') no-repeat;
	margin: auto;
	
	*left: 47.5%;
	*top: 47.5%;
/*	*left: expression(($(this).parent().width() - $(this).width()) / 2);
	*top: expression(($(this).parent().height() - $(this).height()) / 2);
	_behavior: url('/js/libs/common/iepngfix/2.0.0/iepngfix.htc');*/
}
.tile-video .btn-play:hover {
	background-position-y: -45px;
}

.tile-text {
	background: #f5f5f5;
/*	override .loading */
/*	background: -webkit-gradient(linear, 0 10%, 0 90%, from(#e5e5e5), to(#f5f5f5));
	background: -moz-linear-gradient(top, #e5e5e5 10%, #f5f5f5 90%);
	background: -o-linear-gradient(top, #e5e5e5 10%, #f5f5f5 90%);
	background: gradient(linear, 0 10%, 0 90%, from(#e5e5e5), to(#f5f5f5));
	
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#e5e5e5', endColorstr='#f5f5f5');*/
}
.tile-text a,
.tile-words a {
	color: #888;
}
.tile-text .title {
	margin-bottom: 20px;
	background: #dadada;
/*	background: #5b5b5b;*/
	opacity: 1;
	
	display: block\9;
	filter: none\9;
}
.tile-text .title .txt {
	color: #666;

	border-left-color: #d97171\9;
}
.tile-text .title .btn-vote {
	color: #666;
	background-image: url('../images/icn-btn-vote-gray.png');

	background-image: url('../images/ie-icn-btn-vote-gray-on-gray.gif')\9;
/*	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/icn-btn-vote-gray.png",sizingMethod="crop");*/
}
.tile-text .title .btn-voted {
	background-image: url('../images/icn-btn-vote-red.png');

	background-image: url('../images/ie-icn-btn-vote-red-on-gray.gif')\9;
}
.tile-text .body {
	line-height: 1.65;
	letter-spacing: .15em;
}
.tile-text .body p {
	margin: .6em 25px;
}
.tile-text .fade-mask {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 129px;
	background: #f5f5f5;
	background: -webkit-gradient(linear, 0 0, 0 70%, from(rgba(245,245,245, 0)), to(rgba(245,245,245, 1)));
	background: -moz-linear-gradient(top, rgba(245,245,245, 0), rgba(245,245,245, 1) 70%);
	background: -o-linear-gradient(top, rgba(245,245,245, 0), rgba(245,245,245, 1) 70%);
	background: gradient(linear, 0 0, 0 70%, from(rgba(245,245,245, 0)), to(rgba(245,245,245, 1)));
	pointer-events: none;
	
	_bottom: -1px;
	filter: alpha(opacity=0, finishOpacity=100, style=1, startX=0, startY=0, finishX=0, finishY=70);
}

#detail {
	position: fixed;
	z-index: 101;
/*	above mask */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	overflow: auto;
	opacity: 0;
	-webkit-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
	
	_position: absolute;
}
#detail.show {
	opacity: 1;
}
#detail .slide-area {
	position: absolute;
	top: 0;
}
#detail .slide-area.l {
	left: 0;
	cursor: w-resize;
}
#detail .slide-area.r {
	right: 0;
	cursor: e-resize;
}
#detail .content {
	position: relative;
	width: 916px;
	padding-bottom: 56px;
	margin: auto;
}
#detail .date {
	color: #666;
}
#detail .tile {
	position: static;
	min-height: 450px;
	background: none;
}
#detail .tile .title {	
	position: static;
	background: none;
	margin: 2px 0;
	opacity: 1;
	
	display: block\9;
	filter: none\9;
}
#detail .tile .title .txt {
	color: #ccc;
	border-left-color: #782225\9;
}

#detail .tile .pic {
	margin: auto;
}
#detail .tile .video {
	width: 100%;
	height: 557px;
	cursor: pointer;
}

#detail .story {
	padding: 15px;
}
#detail .story p {
	line-height: 1.6;
/*	text-indent: 2em;*/
	margin: 1em 0;
}

#detail .comments {
	margin-top: 56px;
}
#detail .comments li {
	line-height: 1.5;
	text-align: right;
	float: right;
	clear: both;
	max-width: 60%;
	padding: 5px 13px;
	border-right: 10px solid rgba(216,43,43, .6);
	margin: 15px 0;

	_width: 60%;
	border-right: 10px solid #782225\9;
}

#detail .comments .sig {
	color: #666;
	line-height: 1;
	margin-top: 5px;
}
#detail .comments .sig a {
	color: #666;
	border-bottom-color: #444;
}
#detail .comments .sig a:hover {
	color: #999;
	border-bottom-color: #777;
}

#detail .comments .recalling {
	width: 30px;
	height: 6px;
}
#detail .comments .bof {
	line-height: 1;
	padding: 2px 12px;
}

#detail .comments .post {
	padding: 1px 10px;
}
#detail .comments .post textarea {
	display: block;
	padding: 5px;
	width: 149px;
	height: 20px;
	max-width: 149px;
	max-height: 20px;
/*	unresizable before focus-expanded */
/*	background: #272727;*/
	border-color: #666;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
#detail .comments .post textarea.expand {
/*	border-color: #999;*/
	width: 529px;
	height: 79px;
	max-width: 529px;
	max-height: 559px;
/*	vertical-resizable after focus-expanded */
}
#detail .comments .post .sig {
	margin-top: 15px;
}
#detail .comments .post .sig .btn-submit {
	color: #999;
	letter-spacing: 1px;
	float: left;
	width: 170px;
	padding: 4px 0 2px;
	background: #333;
	border: 0;
	border-bottom: 1px solid rgba(216,43,43, .6);
	margin-top: -6px;
	cursor: pointer;
	-webkit-transition: background-color .3s ease-in-out, color .3s;
	-moz-transition: background-color .3s ease-in-out, color .3s;
	-o-transition: background-color .3s ease-in-out, color .3s;
	transition: background-color .3s ease-in-out, color .3s;
	
	border-bottom: 1px solid #782225\9;
}
#detail .comments .post .sig .btn-submit:hover {
	color: #ccc;
	background: #444;
}
#detail .comments .post .sig input {
	color: #666;
	width: 99px;
	border: 0;
	border-bottom: 1px solid #666;
	margin: 0 2px;
}

#detail.light-on .date {
	color: #ccc;
}
#detail.light-on .title {
	margin-bottom: 28px;
}
#detail.light-on .tile .title .txt {
	color: #666;
	border-right-color: #d78284\9;
}
#detail.light-on .comments {
	margin-top: 108px;
}
#detail.light-on .comments .sig {
	color: #bbb;
}
#detail.light-on .comments .sig a {
	color: #bbb;
	border-bottom-color: #ddd;
}
#detail.light-on .comments .sig a:hover {
	color: #888;
	border-bottom-color: #aaa;
}
#detail.light-on .comments .post textarea {
	border-color: #bbb;
}
/*#detail.light-on .comments .post textarea.expand {
	border-color: #999;
}*/
#detail.light-on .comments .post .sig .btn-submit {
	color: #888;
	background: #eee;
}
#detail.light-on .comments .post .sig .btn-submit:hover {
	color: #555;
	background: #ddd;
}
#detail.light-on .comments .post .sig input {
	color: #bbb;
	border-bottom-color: #bbb;
}

/* for Mobile & iOS */
/* @media screen and (max-device-width: 480px) { */
/* 此选择符无法识别大分辨率平板设备(其交互依然不同于PC) */

.ua-mobile body {
	min-width: 480px;
	background: none;
}
.ua-mobile #fn-panel {
	display: none;
}
.ua-mobile .block .date {
	display: none;
}
.ua-mobile .tile .title {
	opacity: 1;
}

.ua-mobile .tile .title-l .txt {
	font-size: 23px;
}
.ua-mobile .tile .title-m .txt {
	font-size: 21px;
}
.ua-mobile .tile .title-s .txt {
	font-size: 17px;
}
.ua-mobile .tile .title-xs .txt {
	font-size: 13px;
}

/* doodles */

html[class^=doodle] {
	-webkit-transition: background-color 1.5s ease-in-out;
}

.doodle-hz {
	background: url('../images/doodles/hz/bg-hd.jpg') no-repeat right 0;
}
.doodle-hz #hd {
	background: none;
}
.doodle-hz #ft {
	height: 278px;
	background: url('../images/doodles/hz/bg-ft.gif') no-repeat 108px 0;
	margin-top: 39px;
}
.doodle-hz #ft .cpy {
	right: 31px;
	bottom: 24px;
}

.doodle-nj {
	background: url('../images/doodles/nj/bg-hd.jpg') no-repeat;
}
.doodle-nj #hd {
	background: none;
}

.doodle-night {
	background-color: #000;
}
.doodle-night body {
	background-image: url('../images/doodles/night/bg-film.gif');
}
.doodle-night #hd {
	background: url('../images/doodles/night/bg-hd.jpg') no-repeat right 0;
}
.doodle-night #hd .logo {
	background-image: url('../images/doodles/night/logo.gif');
}
.doodle-night #about .sig {
	background-image: url('../images/doodles/night/about-sig.gif');
}
.doodle-night #ft {
	height: 256px;
	background: url('../images/doodles/night/bg-ft.jpg') no-repeat 0 bottom;
}
.doodle-night #ft .sig {
	display: none;
}
.doodle-night #ft .cpy {
	color: #555;
	background: none;
}
.doodle-night .block .date,
.doodle-night #detail .date {
	color: #555;
}
.doodle-night #fn-panel .btn {
	background-color: #333;
}